{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card stats-card">
            <h3>{{ students_count }}</h3>
            <p>Students</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card stats-card">
            <h3>{{ colleges_count }}</h3>
            <p>Colleges</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card stats-card">
            <h3>{{ programs_count }}</h3>
            <p>Programs</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card stats-card">
            <h3>{{ organizations_count }}</h3>
            <p>Organizations</p>
        </div>
    </div>
</div>
{% endblock %}
